@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial Black", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #000;
}

a {
  color: inherit;
  text-decoration: none;
}
